# Early Stage Diabetes Risk Prediction

add introduction here!!!

## Problem Statement


From dataset, trying to predict whether a patient has diabetes or not.

## The Dataset
https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("diabetes_prediction_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

There are 100,000 entries in this dataset. On first appearances, there are no null values.

## Data pre-processing

Most of the features are numerical. Only gender and smoking_history need to be handled accordingly.

In [5]:
df["gender"].unique()

array(['Female', 'Male', 'Other'], dtype=object)

Since there are 3 values for gender, I will use one-hot encoding to turn the data numerical.

In [6]:
df = df.join(pd.get_dummies(df.gender, prefix="gender", dtype=int))

In [7]:
df["smoking_history"].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

Around 36% of entries are missing smoking_history info. This would be quite a lot of data to drop, so I will not drop them.

Instead, I will use Mode Category Imputation based on gender and age.

In [8]:
smoking_history_df = df[df.smoking_history != "No Info"]